@model GalleryProfileViewModel

@{
    Layout = "/Views/Shared/_LayoutGallery.cshtml";
}

<div class="profile">
    <div >
        Name: @Model.Name
    </div>
    <div >
        Age: @Model.Age
    </div>
    <div >
        Location: @Model.Country - @Model.City
    </div>
    
   
</div>


