@model GalleryUserRegistration

@{
    Layout = "/Views/Shared/_LayoutGallery.cshtml";
}

<div>
    <form class="hidden-form"   asp-action="Registration" asp-controller="Gallery">
        <div class = "inputs-validation">
            <div class="validation" asp-validation-summary="ModelOnly">  </div>
            <div class="inputs-validation-element">
                <span asp-validation-for="Email" class="autorization-validation"></span>
                <input type="text" asp-for="Email" placeholder="Enter Email" />
            </div>
            <div class="inputs-validation-element" >
                <span asp-validation-for="Name" class="autorization-validation"></span>
                <input type="text" asp-for="Name" placeholder="Enter Name" />
            </div>
            <div class="inputs-validation-element" >
                <span asp-validation-for="Password" class="autorization-validation"></span>
                <input type="password" asp-for="Password" placeholder="Enter password" />
            </div>
            <div>
                <input type="submit" value="Save" class="button-validation" />
            </div>
    </form>
</div>

